$primary-color: #f72210;
$primary-font:  "roboto Condensed",sans-serif;
$primary-weight: bolder;

nav {
    background-color: $primary-color;
}

button {
    font-family: $primary-font;
    font-weight: $primary-weight;
}

.navbar-toggler-icon {
    color: rgba($color: #fff, $alpha: 0.75);
}

.fas {
    color: rgba($color: #fff, $alpha: 0.75);

}

