$page-color-red: #f72210;
$sub-font: "Roboto Condensed",sans-serif;
$sub-weight: bolder;
$radius: 24px;
$icon-color: rgba($color: #fff, $alpha: 0.75);
%footer-style {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #666666;
  margin-left: 10px;
}

.login {
    visibility: hidden;
}

nav {
  background-color: $page-color-red;
  height: 50px;
}

.btn {
   font-family: $sub-font;
   font-weight: $sub-weight;
   background-color: #ffe400;
   border-radius: $radius;
   padding: 0 8px;
   height: 20px;
   width: 100px;
   font-size: 13px;
   text-align: center;
   
}

.card {
    margin-bottom: 1rem;
}

.fas {
  color: $icon-color;
}

.fa-bars {
    padding-top: 12px;
}

.bi-list {
  position: relative ;
  top: 15px;
}

.footerr {
  @extend %footer-style;
}

.foot2 p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer-social {
  margin-top: -12px;
  margin-bottom: -8px;
}

.row2 {
  visibility: hidden;
  height: 0;
  width: 0;
  margin-top: -400px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .fa-bars {
    font-size: 30px;
    margin-top: 7px;
    color: rgba($color: #fff, $alpha: 0.60);
  }

  .fa-user {
    visibility: hidden;
  }

  .btn {
    height: 30px;
    width: 170px;
    font-size: 20px;
    margin-top: 12px;
  }

  .login {
    font-family: $sub-font;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 23px;
    margin-right: -20px;
    visibility: visible;
  }

  .footer1 {
    display: flex;
    flex-direction: row;
  }

  .footer-social {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: auto;
    
  }

  .footer-text {
    overflow-wrap: normal;
    margin-top: 30px;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #666666;
  }

  .footer-image {
    margin-top: 7px;
  }

  hr {
    margin-top: 0;
  }

  .foot2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #666666;
  }

  .row2 {
    visibility: visible;
    height: 200px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  .row1 {
    visibility: hidden;
    height: 0;
  }

    @media (min-width: 992px) {
     
      
    }
}
